# git ignore file

Binaries/*
DerivedDataCache/
Intermediate/*
Plugins/*/*/Binaries/
Plugins/*/*/Intermediate/
Programs/UnrealHeaderTool/
Programs/UnrealPak/
Saved/*
Shaders/Binaries/
Source/*/*/*/obj/
Source/*/*/obj/
Source/*/obj/
Content/StarterContent/*
Content/Animations/*
Content/Audio/*
Content/Character/*
Content/Meshes/*
Content/StarterContent/*
Content/Textures/*

*.opensdf
*.sdf
*.suo
*.*.suo
